<style>
body {
   background-image: url('http://www.tmwallpaper.com/mod/creative/1600x900/wide-wallpaper-1600x900-063.jpg');
}
</style>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
